{% extends 'shop/base.html' %}

{% block title %}结算页面{% endblock %}

{% block content %}
    <h1>结算页面</h1>

    <div class="order-info">
        <h3>订单详情</h3>
        <ul>
            {% for item in cart %}
                <li>
                    {{ item.product.name }} x {{ item.quantity }}
                    <span>￥{{ item.total_price|floatformat:2 }}</span>
                </li>
            {% endfor%}
            {% if cart.coupon %}
                <li>
                    "{{ cart.coupon.code }}" （{{ cart.coupon.discount }}折）
                    <span class="neg"> - ￥{{ cart.get_discount|floatformat:2 }}</span>
                </li>
            {% endif %}
        </ul>
        <p>合计：￥{{ cart.get_total_price_after_discount|floatformat:2 }}</p>
    </div>
    <form method="post" class="order-form">
        {{ form.as_p }}
        <p><input type="submit" value="结算"></p>
        {% csrf_token %}
    </form>


{% endblock content%}